/* Responsiveness */

@media (min-width: 320px) {
    .lang_navigation {
        display: none;
    }
    .recent_updates {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .lang_navigation {
        display: block !important;
        width: 30%;
        position: relative;
    }
    .recent_updates {
        width: 70%;
    }
    .navbar-brand > img {
        width: 200px
    }
    .header h2 {
        display: block;
    }
    .lang_navigation h2 {
        display: block;
    }
    .recent_updates li {
        padding-left: 10px;
    }
}

@media (min-width: 1024px) {
    .lang_navigation {
        display: block;
        width: 20%;
    }
    .recent_updates {
        width: 79%;
    }
    .code-nav {
        width: 450px;
        top: 6px;
        position: relative;
        margin-left: 16%;
    }
    .recent_updates li {
        padding-left: 20px;
    }
}


/* for ProgramsPage  */

@media (min-width: 768px) {
    .code_holder {
        width: 70%;
    }
    .right {
        width: 29%;
        display: inline-block;
        float: right;
    }
}

@media (min-width: 1024px) {
    .right {
        width: 29%;
        height: 120px;
        display: inline-block;
        position: relative;
        float: right;
    }
}
