<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
{% include 'stylesheets.html' %}
    </head>
    <body>

{% include 'navigation.html' %}

<div class="header">
    <h2>Programs in {{ lang_legal }}</h2>
</div>


<div class="container">

{% include 'language-navigation.html' %}

<div class="recent_updates">
<h2 style="font-size: 23px;"> </h2>
    <ul>


    {% for program in programs %}


        <li>
            <h2 class=""><a href="{{ program.link }}">{{ program.title }} in {{ program.lang_legal }}</a></h2>
            <div class="clearfix">
                <span class="tag {{ program.lang }}"></span>
                <span class="author">{{ program.author }}</span>
                <span class="time" time="{{ program.time }}"></span>
            </div>
            <hr class="divider"></hr>
        </li>
    {% endfor %}
    </ul>

{% if pages > 0 %}

<ul class="pagination pagination-sm">


{% if not active_page %}
<!-- Start -->

<li  class="active"><a  href="#">{{ i+1 }}</a></li>
<li ><a  href="{{base_url}}language/{{language}}/?page=1">2</a></li>
<li ><a  href="{{base_url}}language/{{language}}/?page=2">3</a></li>
<li class="dots" ><span><span>...</span></span></li>
<li ><a  href="{{base_url}}language/{{language}}/?page={{ pages-2 }}">{{ pages-1 }}</a></li>
<li ><a  href="{{base_url}}language/{{language}}/?page={{ pages-1 }}">{{ pages }}</a></li>
<li ><a  href="{{base_url}}language/{{language}}/?page={{ pages }}">{{ pages+1 }}</a></li>

{% elseif pages == active_page %}
<!-- End -->

<li ><a  href="{{base_url}}language/{{language}}/">{{ i+1 }}</a></li>
<li ><a  href="{{base_url}}language/{{language}}/?page=1">2</a></li>
<li ><a  href="{{base_url}}language/{{language}}/?page=2">3</a></li>
<li class="dots" ><span><span>...</span></span></li>
<li ><a  href="{{base_url}}language/{{language}}/?page={{ pages-2 }}">{{ pages-1 }}</a></li>
<li ><a  href="{{base_url}}language/{{language}}/?page={{ pages-1 }}">{{ pages }}</a></li>
<li class="active"><a  href="#">{{ pages+1 }}</a></li>

{% elseif pages < active_page %}

<!-- Invalid Page -->

{% else %}
<!-- Mid -->

<li><a  href="{{base_url}}language/{{language}}/">{{ i+1 }}</a></li>
<li class="dots" ><span><span>...</span></span></li>
{% if active_page  != 1 %}
<li><a  href="{{base_url}}language/{{language}}/?page={{ active_page-1 }}">{{ active_page }}</a></li>
{% endif %}
<li class="active"><a  href="#">{{ active_page+1 }}</a></li>
{% if active_page+1  != pages %}
<li><a  href="{{base_url}}language/{{language}}/?page={{ active_page+1 }}">{{ active_page+2 }}</a></li>
{% endif %}
<li class="dots" ><span><span>...</span></span></li>
<li ><a  href="{{base_url}}language/{{language}}/?page={{ pages }}">{{ pages+1 }}</a></li>

{% endif %}


</ul>

{% endif %}

</div>
</div>

{% include 'footer.html' %}
    </body>
</html>
{% include 'scripts.html' %}
