<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
{% include 'stylesheets.html' %}
    </head>
    <body>

{% include 'navigation.html' %}

<div class="header">
    <h2>Introducing the new Code Gallery </h2>
</div>


<div class="container">

{% include 'language-navigation.html' %}

<div class="recent_updates">
<h2 style="font-size: 23px;">Recent Updates</h2>
    <ul>


    {% for program in programs %}


        <li>
            <h2 class=""><a href="{{ program.link }}">{{ program.title }}</a></h2>
            <div class="clearfix">
                <span class="tag {{ program.lang }}"></span>
                <span class="author">{{ program.author }}</span>
                <span class="time" time="{{ program.time }}"></span>
            </div>
            <hr class="divider"></hr>
        </li>
    {% endfor %}
    </ul>

<ul class="pagination pagination-sm">

{% for i in 0..pages %}

  <li {% if i == active_page %}
  class="active"
  {% endif %}><a  href="{{base_url}}{% if i > 0 %}?page={{ i }}{% else %}{% endif %}">{{ i+1 }}</a></li>

{% endfor %}
</ul>

</div>



</div>

{% include 'footer.html' %}
    </body>
</html>
{% include 'scripts.html' %}
