<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebSite">
    <head>
        <title itemprop="title">{{title}}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta itemprop="description" name="description" content="{{ program.description }}">
        <meta name="keywords" content="{{ program.keywords }}">        
        <link rel="prefetch" href="http://codecry.com">
        <link rel="prerender" href="http://codecry.com">
        <meta property="fb:app_id" content="745945198842569"/>

        {% include 'stylesheets.html' %}
        <link rel="stylesheet" href="https://cdn.rawgit.com/Aroliant/web/gh-pages/stylesheets/codecry/prettify.css" />      
        
        
    </head>
    <body  onload="prettyPrint()">
        {% include 'navigation.html' %}
        <div class="header">
            <h2>{{ program.title }} in {{ program.lang_legal }}</h2>
        </div>
        <div class="container">
        
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Compile.work right add -->
<ins class="adsbygoogle"
     style="display:block;width:900px;height:120px;margin:0 auto"
     data-ad-client="ca-pub-3383219994768856"
     data-ad-slot="2578756928"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>  
        
        <div class="holder">
            
            <div class="code_holder programHolder">
            {% if program.description != '' %}
                <p class="description">{{ program.description }}</p>
            {% endif %}
                <div class="topHolder">
                    <h2>Source code :</h2>
                    <a href="{{base_url}}{{program.lang}}/{{program.url_id}}/download"><button class="download" >Download</button></a>
                </div>
                <pre class="prettyprint" id="program" style="border:none;">{{program.content}}</pre>
            <pre id="codestore" style="display:none;" lang="{{program.lang}}" itemscope itemtype="http://schema.org/Code">{{program.content}}</pre>
                <div class="outputHolder">
                    <h2>Output :</h2>
                <pre class="output">{{ program.output }}</pre>
                </div>
                
            {% if program.notes != '' %}
                <div class="notesHolder">
                    <h2>Notes :</h2>{% autoescape false %}
                    <div class="notes">{{ program.notes }}</div>{% endautoescape %}
                </div>
            {% endif %}

            
            <br/>
            <div id="loader"></div>
            <div class="displayHolder" >
            <h2>Output : <span id="timeUpdate"></span></h2>
            <pre id="display" ></pre>
            </div>
            <div class="comments">
            <h2>Comments :</h2>
            <div class="fb-comments" data-href="http://codecry.com/{{program.lang}}/{{program.url_id}}" data-num-posts="5" data-width="100%" data-colorscheme="light" data-mobile="false">
            </div>
            
        </div>
        </div>

    <div class="right">

        {% if alt_available > 0 %}
        <div class="available">
            <h2>Also available on</h2>
            <div class="abox">
                {% for alt in alts %}                        
                    <a href="{{base_url}}{{ alt }}/{{ program.url_id }}"><span class="tag {{ alt }}"></span></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="related">
            <h2>Random Picks</h2>
            <div class="rbox">
            <ul class="random_picks">
                {% for r in random %} 
                <li>
                    <span class="tag {{ r.lang }}"></span>
                    <a href="{{base_url}}{{r.lang}}/{{r.url_id}}">
                        {{r.title}} in {{r.lang_legal}}                    
                    </a>   
                </li>                 
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>

        </div>
</div>
{% include 'footer.html' %}

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=745945198842569";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
{% include 'scripts.html' %}
<script type="text/javascript" src="{{base_url}}ui/css/prettify/prettify.js"></script>
<script type="text/javascript" src="{{base_url}}ui/js/spin.min.js"></script>
<script type="text/javascript" src="http://www.compile.work/includes/socket.io-1.4.5.js"></script>
<script type="text/javascript">
var socketCompiler = io('http://c1.aroliant.com:8082', {
autoConnect: false
});
function loaderShow(){
$("#loader").show(500);
}
function loaderHide(){
$("#loader").hide(500);
}
var opts = {
lines: 10, // The number of lines to draw
length: 7, // The length of each line
width: 4, // The line thickness
radius: 10, // The radius of the inner circle
corners: 1, // Corner roundness (0..1)
rotate: 0, // The rotation offset
color: '#FFF', // #rgb or #rrggbb
speed: 1, // Rounds per second
trail: 60, // Afterglow percentage
shadow: false, // Whether to render a shadow
hwaccel: false, // Whether to use hardware acceleration
className: 'spinner', // The CSS class to assign to the spinner
zIndex: 2e9, // The z-index (defaults to 2000000000)
top: 25, // Top position relative to parent in px
left: 25 // Left position relative to parent in px
};
var target = document.getElementById('loader');
var spinner = new Spinner(opts).spin(target);
var connected = false;
socketCompiler.on('message', function(data) {
if (data.log) {
console.log(data.log);
} else if (JSON.parse(data).state) {
$('.displayHolder').show();
var msg = JSON.parse(data);
if (msg.state == 'success') {
display.innerHTML = msg.log;
loaderHide();
} else if (msg.state == 'error') {
display.innerHTML = msg.log;
loaderHide();
} else {
Log.hideLoader();
display.innerHTML = 'Unable to compile your Program';
}
$('#compile').attr('disabled', false);
}
});
function compile () {
$('#compile').attr('disabled', true);
if(!connected){
socketCompiler.connect();
connected = true;
}
var lang = codestore.getAttribute('lang');
if(lang == 'python'){
lang = 'python3';
}else if(lang == 'php'){
lang = 'php5';
}
var data = {
data: codestore.innerText,
lang: lang,
stdin: ""
};
console.log(data);
socketCompiler.emit('compile', data);
loaderShow();
}
$("#compile").click(function(){
compile();
});
$('#view').click(function(){
$('.output').show();
});
</script>
