<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
{% include 'stylesheets.html' %}
<link rel="stylesheet" href="https://cdn.rawgit.com/Aroliant/web/gh-pages/stylesheets/codecry/prettify.css" />

    </head>
    <body style="background: #EEE;" onload="prettyPrint()">

{% include 'navigation.html' %}

<div class="header">
    <h2>{{ program.title }}</h2>
</div>


<div class="container">

<div class="code_holder">
<pre class="prettyprint" id="program" style="border:none;">
{{program.content}}
</pre>
<pre id="codestore" style="display:none;">{{program.content}}</pre>
<div class="proButton">
<button class="op" id="view">View Output</button>
<a href="{{base_url}}{{program.lang}}/{{program.url_id}}/download"><button class="cp" >Download</button></a>
<button class="com" id="compile">Compile</button>
</div>

</div>
<br/>
<pre class="output">{{ program.output }}</pre>
<div id="loader"></div>
<div class="displayHolder" ><h2>Compiled [ <span id="timeUpdate"></span> ]:</h2>
<div id="display" ></div>
</div>

</div>

{% include 'footer.html' %}
    </body>
</html>

{% include 'scripts.html' %}
<script type="text/javascript" src="{{base_url}}ui/css/prettify/prettify.js"></script>
<script type="text/javascript" src="{{base_url}}ui/js/spin.min.js"></script>
<script type="text/javascript">

function loaderShow(){
  $("#loader").show(500);
}
function loaderHide(){
  $("#loader").hide(500);
}

var opts = {
            lines: 10, // The number of lines to draw
            length: 7, // The length of each line
            width: 4, // The line thickness
            radius: 10, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            color: '#FFF', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 25, // Top position relative to parent in px
            left: 25 // Left position relative to parent in px
        };
        var target = document.getElementById('loader');
        var spinner = new Spinner(opts).spin(target);

function compile () {

loaderShow();

$.ajax({
  url: 'https://www.aroliant.com/code/compile?id={{program.id}}',
  type: 'GET',
  success: function(msg) {
    $('.displayHolder').show();
    $('#display').html(msg);
    var d = new Date();
    var time =d.getFullYear()+'-'+d.getMonth()+'-'+d.getDate()+' '+d.getHours()+ ":" + d.getMinutes() + ":" + d.getSeconds();
    $('#timeUpdate').html(time);
    loaderHide();
},
error: function(msg) {
    $('.displayHolder').show();
  $('#display').html("Unable to connect Internet !");
  loaderHide();
}
});
}


$("#compile").click(function(){
  compile();
});
$('#view').click(function(){
    $('.output').show();
});
</script>
